@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #2579e8;
  --primary-color-dark: #1c6dd9;
  --text-dark: #0c0a09;
  --text-light: #78716c;
  --white: #ffffff;
  --max-width: 1200px;
  --linear-grad: linear-gradient(to right, #2579e8, #1c6dd9);
  --grad-clr1: #2579e8;
  --grad-clr2: #1c6dd9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f6f5f7;
  scroll-behavior: smooth;
  background-image: url('assets/header.jpg');
}

.header {
    background-color: rgba(0, 0, 0, 0.4);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    z-index: 1000;
    width: 100%;
    top: 0;
    position: fixed;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    background-color: transparent;
}

.nav__bar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo img {
  max-width: 240px;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav__links a {
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  color: var(--white);
  transition: color 0.3s;
}

.nav__links a:hover {
  color: var(--primary-color-dark);
}

/* Estilos para el contenedor de botones */
.button-container {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.btn-login {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.btn-login:hover {
  color: var(--primary-color-dark);
  text-decoration: underline;
}

.btn1 {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color-dark);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn1:hover {
  background-color: var(--primary-color);
}

/* Añadir margen superior al contenedor principal para evitar que se superponga con la cabecera */
.container {
  background: #fff;
  box-shadow: 25px 30px 55px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  padding: 2rem;
  max-width: 850px;
  margin: 220px auto 0; /* Ajustar el margen superior para que no se superponga */
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  font-size: 2rem;
  color: var(--text-dark);
  text-align: center;
  margin-bottom: 1rem;
}

.social-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.social-container a {
  font-size: 1.5rem;
  color: var(--primary-color);
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #f6f6f6;
  transition: background-color 0.3s;
}

.social-container a:hover {
  background-color: var(--primary-color-dark);
  color: #fff;
}

.infield {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  padding: 0.75rem;
  border: 1px solid var(--text-light);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--text-dark);
}

input::placeholder {
  color: var(--text-light);
}

button {
  padding: 0.0rem 0rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--primary-color-dark);
}

/* Estilos para el footer */
footer {
  margin-top: 2rem;
  text-align: center;
}

footer mark {
  padding: 8px 30px;
  border-radius: 7px;
}

footer a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #003;
}

/* Media Queries */
@media (max-width: 768px) {
  .nav__links {
    flex-direction: column;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
  }

  .nav__links.open {
    transform: translateY(0);
  }

  .container {
    margin-top: 80px;
    padding: 1rem;
  }
}
.container {
    position: relative;
    width: 850px;
    height: 500px;
    background-color: #FFF;
    box-shadow: 25px 30px 55px #5557;
    border-radius: 13px;
    overflow: hidden;
}

.form-container {
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 0px 40px;
    transition: all 0.6s ease-in-out;
}
.sign-up-container {
    opacity: 0;
    z-index: 1;
}

.sign-in-container {
    z-index: 2;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
}

h1 {
    color: var(--grad-clr1);
}

.social-container {
    margin: 0px 0px;
}

.social-container a {
    border: 1px solid #DDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
    height: 30px;
    width: 30px;
}

span {
    font-size: 12px;
}

.infield {
    position: relative;
    margin: 8px 0px;
    width: 100%;
}

input {
    width: 100%;
    padding: 12px 8px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
}

label {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: var(--linear-grad);
    transition: 0.3s;
}

input:focus ~ label {
    width: 100%;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0px;
}

a.forgot {
    padding-bottom: 3px;
    border-bottom: 2px solid #EEE;
}

button {
    border-radius: 20px;
    border: 1px solid var(--grad-clr1);
    background: var(--grad-clr2);
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.form-container button {
    margin-top: 17px;
    transition: 80ms ease-in;
}

.form-container button:hover {
    background: #FFF;
    color: var(--grad-clr1);
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 9;
}

#overlayBtn {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 304px;
    transform: translateX(-50%);
    width: 143.67px;
    height: 40px;
    border: 1px solid #FFF;
    background: transparent;
    border-radius: 20px;
}

.overlay {
    position: relative;
    background: var(--linear-grad);
    color: #FFF;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;
    -webkit-transition: transform 0.6s ease-in-out;
    -moz-transition: transform 0.6s ease-in-out;
    -ms-transition: transform 0.6s ease-in-out;
    -o-transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    height: 100%;
    width: 340px;
    transition: 0.6s ease-in-out;
}

.overlay-left {
    right: 60%;
    transform: translateX(-12%);
}

.overlay-right {
    right: 0;
    transform: translateX(0%);
}

.overlay-panel h1 {
    color: #FFF;
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px; /* Aumenté el line-height para mejorar la legibilidad */
    letter-spacing: 0.5px;
    margin-bottom: 20px; /* Reduce el margen inferior para que no se superponga con el botón */
    text-align: center; /* Asegura que el texto esté centrado */
    padding: 0; /* Evita el padding innecesario */
}


.overlay-panel button {
    border: none;
    background-color: transparent;
}

.right-panel-active .overlay-container {
    transform: translateX(-150%);
}

.right-panel-active .overlay {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

.right-panel-active .overlay-left {
    transform: translateX(25%);
}

.right-panel-active .overlay-right {
    transform: translateX(35%);
    -webkit-transform: translateX(35%);
    -moz-transform: translateX(35%);
    -ms-transform: translateX(35%);
    -o-transform: translateX(35%);
}

.right-panel-active .sign-in-container {
    transform: translateX(20%);
    opacity: 0;
}

.right-panel-active .sign-up-container {
    transform: translateX(66.7%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
    -webkit-animation: show 0.6s;
}

@keyframes show{
    0%, 50%{
        opacity:0;
        z-index:1;
    }
    50.1%,100%{
        opacity:1;
        z-index:5;
    }
}

.btnScaled {
    animation: scaleBtn 0.6s;
    padding: 10px 40px; /* Ajusta el padding según sea necesario */
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    
    /* Usamos Flexbox para centrar el contenido */
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    height: 40px; /* Ajusta la altura */
    width: auto; /* Deja que el ancho se ajuste según el contenido */
}

.btnScaled:hover {
    background-color: #fff;
    color: var(--primary-color);
}

.infield1 {
  position: relative;
  margin: 10px 0;
  width: 100%;
}

.infield1 select {
  background: #f6f6f6;
  border: none;
  padding: 15px 20px;
  font-size: 14px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.infield1 select:focus {
  outline: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}


@keyframes scaleBtn {
    0% {
        width: 143.67px;
    }
    50% {
        width: 250px;
    }
    100% {
        width: 143.67px;
    }
}

.overlay-panel button {
  background-color: transparent; /* Fondo transparente */
  color: white; /* Color del texto blanco */
  border: 2px solid white; /* Borde blanco */
  padding: 10px 30px; /* Ajusta el tamaño para que el botón sea más grande */
  font-size: 14px; /* Tamaño de fuente */
  border-radius: 30px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: 0.3s ease; /* Suaviza la transición */
}

.overlay-panel button:hover {
  background-color: white; /* Fondo blanco al hacer hover */
  color: #2579e8; /* Color del texto cuando está en hover */
}

.infield select {
  width: 100%;
  padding: 4px 10px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px; /* Bordes redondeados como los otros campos */
  box-sizing: border-box;
  background-color: #f5f5f5; /* Fondo gris claro */
  font-size: 16px; /* Tamaño de fuente consistente */
  color: #333;
}

.infield select:focus {
  border-color: #2579e8; /* Color de borde al hacer foco */
  outline: none; /* Quita el borde azul por defecto */
}

.infield select option {
  color: #333; /* Color del texto en las opciones */
}








